* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.bd {
  background: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 19px;
  height: 19px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

input[type="checkbox"] {
  display: none;
}

#nav:checked ~ nav.content {
  top: 0;
}

#nav:checked ~ div.nav .ls a {
  color: #fff;
}

#mode:checked ~ .content {
  background: #444444;
}

#mode:checked ~ .content ul li a:hover {
  color: #000;
}

#mode:checked ~ .nav .ls a:before {
  background: #fff;
}

#mode:checked ~ .nav {
  background: #000;
}

#mode:checked ~ .nav .ls a {
  color: #fff;
}

#mode:checked ~ .head {
  background: #000;
}

#mode:checked ~ .head .sec2 img {
  display: none;
}

#mode:checked ~ .head .sec1 {
  background: #000;
  color: #fff;
}

#mode:checked ~ #op {
  color: #fff;
}

#mode:checked ~ .head .sec1 h6 a {
  color: #fff;
}

#mode:checked ~ .page-2 .h {
  color: #fff;
  background: #000;
}

#mode:checked ~ .page-2 .cards {
  background: #000;
}

#mode:checked ~ .page-2 .cards .c {
  background: #000;
  color: #fff;
  border: 4px solid #5e5e5e;
}

#mode:checked ~ .page-2 .cards .c .img {
  background: #000;
  margin-top: 6px;
}

#mode:checked ~ .page-2 .cards .c img {
  background: #000;
}

#mode:checked ~ .page-2 .wry {
  color: #fff;
  background: #000;
}

#mode:checked ~ .join {
  background: #000;
}

#mode:checked ~ .join a {
  color: #fff;
}

#mode:checked ~ footer {
  background: #414141;
}

#mode:checked ~ ::-webkit-scrollbar-thumb {
  background: #fff;
  display: none;
}

.content {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(45deg, #9e4dff, #e9ccf8);
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -150%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 3;
  color: #ff7300;
}

.content i {
  padding-top: 30px;
  padding-right: 30px;
  font-size: 30px;
}

.content i:before {
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

.content ul {
  list-style: none;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 5px;
}

.content ul li {
  color: white;
  border-radius: 20px;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content ul li:not(:last-child) {
  margin-bottom: 20px;
}

.content ul li a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  width: 700px;
  padding: 0 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.content ul li a:hover {
  color: #dcaee3;
  background: #fff;
}

div.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

div.nav .ls {
  font-size: 30px;
  line-height: 70px;
  padding-top: 5px;
  width: 50%;
  padding-left: 20px;
}

div.nav .ls a {
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  z-index: 1;
}

div.nav .ls a::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 10px;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #9e4dff, #e9ccf8);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 3px;
  height: 5px;
  width: 85%;
}

div.nav .ls a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.nav .rs {
  width: 50%;
  font-size: 27px;
  padding: 20px 20px 0 0;
}

div.nav .rs span {
  float: right;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0px;
  cursor: pointer;
}

div.nav .rs span:hover {
  font-size: 35px;
  cursor: pointer;
}

div.nav .rs span:hover label i:hover::before {
  cursor: pointer;
}

div.nav .rs span.blog {
  font-size: 22px;
  color: orange;
}

div.nav .rs span.blog:hover {
  font-size: 35px;
}

div.nav .rs span.blog a {
  text-decoration: none;
  color: orange;
}

div.nav .rs span.mode {
  color: #2f2fa3;
  cursor: pointer;
}

div.nav .rs span.navbar {
  color: #646464;
  cursor: pointer;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px;
  margin-left: 5%;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.head .sec1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 10px;
  background: #fff;
  color: #000;
  font-weight: 500;
}

.head .sec1 p {
  font-size: 18px;
  font-weight: normal;
}

.head .sec1 h6 {
  padding-top: 60px;
  font-weight: 500;
}

.head .sec1 h6 a {
  text-decoration: none;
  color: #000;
}

.head .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .sec2 img {
  top: 0;
  width: 90%;
}

.page-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: normal;
}

.page-2 .h {
  margin-left: 5%;
}

.page-2 p {
  font-size: 18px;
}

.page-2 .cards {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
}

.page-2 .cards .c {
  width: 300px;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-2 .cards .c .img {
  border-radius: 5px;
  background: #fff;
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-2 .cards .card-1 {
  font-size: 25px;
}

.page-2 .wry {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.join {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.join a {
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

footer {
  background: #e0e0e0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin-top: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 392px) {
  .content {
    font-size: 15px;
  }
  .rs span {
    font-size: 25px;
  }
  .rs span.blog {
    font-size: 18px;
  }
}

@media (max-width: 860px) {
  body {
    overflow-x: hidden;
  }
  .head .sec-2 img {
    width: 400px;
  }
  .page-2 .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-2 .cards .c {
    margin-top: 30px;
  }
}

@media (max-width: 720px) {
  .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head .sec2 {
    padding-right: 0;
  }
  .head .sec2 img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */